<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    

    <div class="app-background">

        <img src="~/Images/right door.svg" class="right-door-background d-none d-md-block " />
       
        <img src="~/Images/left door.svg" class="left-door-background d-none d-md-block " />

        @RenderBody()

    </div>

   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
